{{!-- /********************************************************************************** 
 * ITE5315 – Assignment 4* I declare that this assignment is my own work in accordance 
 * with Humber Academic Policy.* No part of this assignment has been copied manually or 
 * electronically from any other source* (including web sites) or distributed to other students.** 
 * Name: Meenu Mathew
 * Student ID: N01582144
 * Date: 06-04-2024
 * **********************************************************************************/ --}}
<style>
    div table {
        align: center !important;
    }
</style>

<h1 class="head-rest">All Restaurants</h1>
<a href="{{baseUrl}}/api/list_all_restaurants" class="go_back_btn" style="margin-bottom:10px">Go Back</a>
<div class="form-index-design">
<form action="{{baseUrl}}/api/list_all_restaurants" method="post">
    <label for="page">Page:</label>
    <input type="number" name="page" id="page" required><br>
    <label for="perPage">Per Page:</label>
    <input type="number" name="perPage" id="perPage" required><br>
    <label for="borough">Borough:</label>
    <input type="text" name="borough" id="borough"><br>
    <button type="submit" class="go_back_btn">Search</button>
</form>
</div>
<table border="1">
    <thead>
        <th>ID</th><th>Name</th><th>Cusine</th><th>Borough</th><th>Address</th><th>View</th>
    </thead>
    <tbody>
       
    {{#each restaurants}}
        <tr> 
            <td>{{restaurant_id}}</td>
            <td>{{name}}</td>
            <td>{{cuisine}}</td>
            <td>{{borough}}</td>
            <td>{{address.building}}, {{address.street}}</td>
            <td><a href="{{baseUrl}}/api/restaurant_view/{{id}}">View</a></td>
        </tr>
    {{/each}}
    </tbody>
</table>



