    <h1 class="head-rest">{{restaurant.name}}</h1>
    <h3 class="head-rest">Welcome to our our page!</h3>

    <!-- Address section -->
    <div class="address">
      <h2>Address:</h2>
      <p>{{restaurant.address.building}}, </p>
      <p>{{restaurant.address.street}}</p>
      <p>{{restaurant.address.zipcode}}</p>
      </div>
  <a href="{{baseUrl}}/api/list_all_restaurants" class="go_back_btn" style="margin-bottom:10px">Go Back</a>